/* =========================================== */
/* =             Bubble Mobile Styles        = */
/* =========================================== */
/* 1 ******************** iPad Portrait/Browser *************************/
@media only screen and (min-width:768px) and (max-width:959px){/* ============================== */
  .sf-menu.sf-style-default a,
  #main-navigation ul#main-menu li a {
    padding-left:10px;
    padding-right:10px;
  }
  .slideshow-2 .slideshow-text-area-wrapper{margin-left:353px;height:310px;}
  .slideshow-1 .slideshow-text-area-wrapper{height:310px;width:310px;}
  #content-top .twelve.slideshow-2 .slideshow-text-area-wrapper, .twelve.columns #content-top .slideshow-2 .slideshow-text-area-wrapper {
    height: 236px;
    margin-left: 256px;
  }
  #content-top .eleven.slideshow-2 .slideshow-text-area-wrapper, .eleven.columns #content-top .slideshow-2 .slideshow-text-area-wrapper {
    height: 216px;
    margin-left: 259px;
  }
  #content-top .slideshow-2 .slideshow-text-area-wrapper {margin-left:373px;}
}
/* 2 ******************** Mobile Landscape/Browser ***************************/
@media only screen and (min-width:480px) and (max-width:767px){

  ul#main-menu li a:hover,
  ul.sf-menu li a:hover,
  ul#main-menu li a.active,
  ul.sf-menu li a.active,
  sf-menu.sf-style-default a.active,
  .sf-menu.sf-style-default li:hover, 
  .sf-menu.sf-style-default li.sfHover, 
  .sf-menu.sf-style-default a:focus, 
  .sf-menu.sf-style-default a:hover, 
  .sf-menu.sf-style-default a:active {
    background-image: none;
}
.sf-menu.sf-style-default {
  margin-top: 0;
}
#sidebar-first,#sidebar-last {background-image:none;}
#sidebar-first .block-inner,#sidebar-last .block-inner {margin-left:0;}


}
/* 3 ********************* Anything smaller than 480 ***************************/
@media only screen and (max-width:479px){
  ul#main-menu li a:hover,
  ul.sf-menu li a:hover,
  ul#main-menu li a.active,
  ul.sf-menu li a.active,
  sf-menu.sf-style-default a.active,
  .sf-menu.sf-style-default li:hover, 
  .sf-menu.sf-style-default li.sfHover, 
  .sf-menu.sf-style-default a:focus, 
  .sf-menu.sf-style-default a:hover, 
  .sf-menu.sf-style-default a:active {
    background-image: none;
}
.sf-menu.sf-style-default {
  margin-top: 0;
}
#sidebar-first,#sidebar-last {background-image:none;}
#sidebar-first .block-inner,#sidebar-last .block-inner {margin-left:0;}
}
