/* ===================================================================================================== */
/* = This file is for theme specific skinr styles. Color updates should be in color.css = */
/* ===================================================================================================== */

/*.contact, .facebook, .google, .linked-in,.linkedin, .pinterest, .rss, .twitter, .birdy,.twitterbird, .yelp, .youtube,
.youtube2, .custom1, .custom2, .custom3, .custom4, .custom5{background-image:url("images/tm-social-icons-3px.png");}*/


.slideshow-text-inner {
  padding:6px 10px;
}
.slideshow-url-inner {
  padding: 6px 10px;
}
#block-views-slideshow-presentation-block {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.slideshow-wrapper {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.twelve.slideshow-1 .slideshow-text-area-wrapper, .twelve.columns .slideshow-1 .slideshow-text-area-wrapper {
  height: 297px;
}
.twelve.slideshow-2 .slideshow-text-area-wrapper, .twelve.columns .slideshow-2 .slideshow-text-area-wrapper {
  height: 297px;
}
