/* ===================================================================================================== */
/* =         This file is for theme specific skinr styles. Color updates should be in color.css        = */
/* ===================================================================================================== */

/*.contact, .facebook, .google, .linked-in,.linkedin, .pinterest, .rss, .twitter, .birdy,.twitterbird, .yelp, .youtube,
.youtube2, .custom1, .custom2, .custom3, .custom4, .custom5{background-image:url("images/tm-social-icons-3px.png");}*/


/**** img no-shadow override 
      add class of no-shadow 
      to images to remove shadow */
.region-content img.no-shadow {
  -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
}

/**** slideshow overrides ***/
.twelve.slideshow-1 .slideshow-text-area-wrapper, .twelve.columns .slideshow-1 .slideshow-text-area-wrapper {height:297px;}
.twelve.slideshow-2 .slideshow-text-area-wrapper, .twelve.columns .slideshow-2 .slideshow-text-area-wrapper {height:297px;}
#block-views-slideshow-presentation-block {
  -webkit-border-radius: none;
          border-radius: none;
          -webkit-box-shadow: 0px 0px 4px 0px #000;
                  box-shadow: 0px 0px 4px 0px #000;
 
  -webkit-background-clip: padding-box; background-clip: padding-box;
}
.slideshow-wrapper {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box; background-clip: padding-box;
  overflow:hidden;
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;

}
/**** phenom blocks ****/
.phenom1 .block-inner {
  border: 1px solid #666;
  padding: 5px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgb(242,242,242);/* Old browsers */
  background:-moz-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);/* FF3.6+ */
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(100%,rgba(224,224,224,1)));/* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);/* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);/* Opera 11.10+ */
  background:-ms-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);/* IE10+ */
  background:linear-gradient(to bottom,rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);/* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2',endColorstr='#e0e0e0',GradientType=0 );/* IE6-9 */
  overflow:hidden;
  -webkit-box-shadow: 0px 10px 24px -17px #000;
  box-shadow: 0px 10px 24px -17px #000;
  min-height:225px;
}
.phenom1 .block-inner h2 {
  background: rgb(51,51,51);/* Old browsers */
  background:-moz-linear-gradient(top,rgba(51,51,51,1) 1%,rgba(15,15,15,1) 100%);/* FF3.6+ */
  background:-webkit-gradient(linear,left top,left bottom,color-stop(1%,rgba(51,51,51,1)),color-stop(100%,rgba(15,15,15,1)));/* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top,rgba(51,51,51,1) 1%,rgba(15,15,15,1) 100%);/* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top,rgba(51,51,51,1) 1%,rgba(15,15,15,1) 100%);/* Opera 11.10+ */
  background:-ms-linear-gradient(top,rgba(51,51,51,1) 1%,rgba(15,15,15,1) 100%);/* IE10+ */
  background:linear-gradient(to bottom,rgba(51,51,51,1) 1%,rgba(15,15,15,1) 100%);/* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333',endColorstr='#0f0f0f',GradientType=0 );/* IE6-9 */
  color:#FFFFFF;
  font-size: 18px;
  font-weight: bold;
  margin: -5px -5px 5px -5px;
  padding: 0 5px;
  -webkit-box-shadow: inset 0px 0px 2px 0px #ffffff;
  box-shadow: inset 0px 0px 2px 0px #ffffff;
}
.phenom-left .block-inner {
  background-repeat: no-repeat;
  background-position: left 10px;
  padding-left: 0;
  padding-left: 15px;
  background-color: transparent;
  min-height:300px;
}

.phenom-right .block-inner {
  background-repeat: no-repeat;
  background-position: right 10px;
  padding-left: 15px;
  padding-right: 0;
  background-color: transparent;
  min-height:300px;
}
.phenom-right .block-inner h2,
.phenom-left .block-inner h2,
.phenom-noborder .block-inner h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

}
.phenom-noborder .block-inner {
  min-height:300px;
}

.list-style-4 .content ul li:hover, .list-style-4 .content .views-row:hover {background:#ccc;}



