/***********************************************************************
************************   Blue.CSS ************************************
***********************************************************************/

/* colors for this colorpack

You can do a find and replace if you only need to adjust existing colors

Color 1 (link color, menu hover)          #054C8D
Color 2 (link hover color)                #0C8DFF

Consider dark region link colors as needed in the typography section

*/


.breadcrumb-wrapper{background:#555;}
/*************** typography ******************/
a,
a:link,
a:visited{color:#054C8D;}
a:hover,
a:focus,
a:active,
a.active{color:#0C8DFF;}
.dark-region a,
.dark-region a:link,
.dark-region a:visited{color:#0C8DFF;}
.dark-region a:hover,
.dark-region a:focus,
.dark-region a:active,
.dark-region a.active{color:#fff;}
/* ======================== */
/* = menu overrides = */
/* ======================== */
/** link colors **/
.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited,
ul#main-menu li a{color:#000;}
.sf-menu.sf-style-default li li a,
.sf-menu.sf-style-default li li a:visited,
.sf-menu.sf-style-default li.sfHover li a{color:#000;}
ul#main-menu a:hover,
ul#main-menu a.active,
ul.sf-menu a:hover,
ul.sf-menu a.active,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a.active,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default ul li.active-trail > a:hover,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a:hover{color:#fff !important;}
.sf-menu.sf-style-default ul li.active-trail > a,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a{color:#000 !important;}
/** background colors **/
#main-navigation,
#main-navigation-region{background:transparent;}
/* main level */
ul#main-menu li a,
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar{border-left:1px solid #A1A1A1;}
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active,
.sf-menu.sf-style-default a.active,
.sf-menu.sf-style-default.sf-navbar li.sfHover a.active,
#main-navigation ul#main-menu li a:hover,
.sf-menu.sf-style-default ul li.active-trail > a:hover,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a:hover,
ul#main-menu li a:hover,
ul#main-menu li.active a{background:#054C8D;}
.sf-menu.sf-style-default li li a:focus,
.sf-menu.sf-style-default li li a:hover,
.sf-menu.sf-style-default li li a:active,
.sf-menu.sf-style-default li li a.active,
.sf-menu.sf-style-default.sf-navbar li li.sfHover a.active{background-image:none;}
.sf-menu.sf-style-default li.active-trail{background-color:transparent !important;}
/* second level */
.sf-menu.sf-style-default li ul{background-color:#eeeeee;}
.sf-menu.sf-style-default ul li.active-trail > a,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a{background-color:#e2e2e2;}
.sf-menu.sf-style-default li li,
.sf-menu.sf-style-default li li li{background-color:transparent;}
