/***********************************************************************
************************  Color.CSS ************************************
***********************************************************************/

/****** general *************/

#content-area-wrapper,.header-region-wrapper {background-color:transparent;background-image:none;}
#content-area-wrapper .container {background:#fff;
}
body{background-color:#000;}
.page{background: rgb(30,50,72); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,50,72,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,50,72,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,50,72,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,50,72,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,50,72,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,50,72,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3248', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
.header-region-inner {background-color:#e2e2d2;background-image:none;}

#header-wrapper {
  background: rgb(17,26,56); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(17,26,56,1) 0%, rgba(14,24,58,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,26,56,1)), color-stop(100%,rgba(14,24,58,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(17,26,56,1) 0%,rgba(14,24,58,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(17,26,56,1) 0%,rgba(14,24,58,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(17,26,56,1) 0%,rgba(14,24,58,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(17,26,56,1) 0%,rgba(14,24,58,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111a38', endColorstr='#0e183a',GradientType=0 ); /* IE6-9 */
}
/*************** typography ******************/

a,
a:link,
a:visited {
  color: #3459D3;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #3459D3;
}



/* ======================== */
/* =    menu overrides    = */
/* ======================== */



/** link colors **/
.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited,
ul#main-menu li a {
  color: #3459D3;
}

.sf-menu.sf-style-default li li a,
.sf-menu.sf-style-default li li a:visited,
.sf-menu.sf-style-default li.sfHover li a {
  color: #3459D3;
}

ul#main-menu a:hover,
ul#main-menu a.active,
ul.sf-menu a:hover,
ul.sf-menu a.active,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a.active,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default ul li.active-trail > a:hover,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a:hover
 {
	color:#3459D3 !important;
}

.sf-menu.sf-style-default ul li.active-trail > a,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a {
  color:#3459D3 !important;
}
/** background colors **/


#main-navigation,
#main-navigation-region {
  background: transparent;
}


/* main level */

ul#main-menu li a,
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar {
  background-color: transparent !important;
  border-left: 1px solid transparent;
}



.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active,
.sf-menu.sf-style-default a.active,
.sf-menu.sf-style-default.sf-navbar li.sfHover a.active,
#main-navigation ul#main-menu li a:hover,
.sf-menu.sf-style-default ul li.active-trail > a:hover,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a:hover,
ul#main-menu li a:hover,
ul#main-menu li.active a  {
  
  background-color: #ccc !important;
  background-color: rgba(0, 0, 0, 0.2) !important; 

}
.sf-menu.sf-style-default li li a:focus,
.sf-menu.sf-style-default li li a:hover,
.sf-menu.sf-style-default li li a:active,
.sf-menu.sf-style-default li li a.active,
.sf-menu.sf-style-default.sf-navbar li li.sfHover a.active {
  background-image:none;
  background-color: #ccc !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.sf-menu.sf-style-default li.active-trail {
  background-color: transparent !important;
}




/* second level */

.sf-menu.sf-style-default li ul {
  background-color:#ddd;

}


.sf-menu.sf-style-default ul li.active-trail > a,
.sf-menu.sf-style-default ul li.active-trail li.active-trail > a {
  background-color:#ddd;
}

.sf-menu.sf-style-default li li,
.sf-menu.sf-style-default li li li {
  background-color: transparent;
}
